.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-weight);
  background-image: var(--bg-image, #fff);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  justify-self: center;
  text-align: center;
  align-items: center;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  margin-block: 100px;
  margin-inline: auto;
}

.content-width {
  width: var(--content-width, 700px);
}

.border {
  border: 2px solid var(--border-color, #000000);
}

.border-block {
  border-block: 2px solid #000000;
}

.main-font {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
}

.content-accent-font {
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  font-size: 14px;
}

.button {
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--bg-button, #FFFFFF);
  text-align: center;
}

.header__logo {
  font-family: var(--accent-font), monospace;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-family: var(--accent-font), monospace;
  font-size: clamp(0.875rem, 0.6805rem + 0.8411vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-inline: auto;
  margin-block-end: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #FFFFFF;
}

.card__title {
  font-variation-settings: 'wght' var(--wght-card-title, 715);
  margin: 4px 10px;
}

.card__text {
  font-variation-settings: 'wght' var(--wght-card-text, 410);
  line-height: 21px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.card__image {
  position: relative;
  width: clamp(23.25rem, 16.0977rem + 30.5164vw, 43.5625rem);
  height: clamp(23.25rem, 16.0977rem + 30.5164vw, 43.5625rem);
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px var(--watermark-stroke, #FFFFFF);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports((text-stroke: 1px var(--watermark-stroke))) or (-webkit-text-stroke: 1px var(--watermark-stroke)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-stroke);
    text-stroke: 1px var(--watermark-stroke);
  }
}

.image {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: clamp(23.25rem, 16.0977rem + 30.5164vw, 43.5625rem);
  height: clamp(23.25rem, 16.0977rem + 30.5164vw, 43.5625rem);
  padding-block-end: 3px;
}

.image-sepia {
  filter: sepia(50%);
}

.image-brightness {
  filter: brightness(160%);
}

.image-contrast {
  filter: contrast(200%);
}

.image-grayscale {
  filter: grayscale(100%);
}

.image-blur {
  filter: blur(3px);
}

.image-hue-rotate {
  filter: hue-rotate(250deg);
}

.image-invert {
  filter: invert(100%) brightness(170%);
}

.image-saturate {
  filter: saturate(200%);
}



.card__button {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  block-size: 36px;
  inline-size: 39px;
  padding: 0;
  border: none;

  outline: 2px solid transparent; /*элегантно, мне понравилось*/
  transition: outline 0.3s ease;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.button-dialog {
  line-height: 0.9;
  block-size: 55px;
  inline-size: 335px;
  margin-inline: auto;
  margin-block-start: 50px;
  white-space: nowrap;
  padding-inline-start: 20px;

  display: flex;
  align-items: center;
  gap: 8px;
}





.button:hover:not(.card__icon-button)::before {
  content: "";
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #000000;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
  transform: translateX(-110%);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  color: #FFFFFF;
  mix-blend-mode: difference;
}

.dialog-icon {
  width: 21px;
  height: 21px;
  position: relative;
  mix-blend-mode: difference;
  align-self: center;
}

.button:focus:not(.card__icon-button) {
  outline: none;
}

.button:focus-visible:not(.card__icon-button) {
  outline: none;
  box-shadow: 2px 2px 0 #000000;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000000;
}

.dialog {
  position: fixed;
  margin: auto;
  display: grid;
  grid-template-rows: 63px 38px;
  grid-template-columns: 39px 234px;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
  padding: 30px;
  text-transform: uppercase;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.icon {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  line-height: 1.5;
}

.close-button {
  line-height: 0.9;
  max-block-size: 38px;
  min-inline-size: 293px;
  text-transform: uppercase;
  padding-block: 12.5px;
  grid-column: span 2;
}

.dialog__button {
  min-block-size: 38px;
  min-inline-size: 293px;
}


/*ANIMATION ANIMATION ANIMATION ANIMATION ANIMATION ANIMATION ANIMATION*/


.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}


.like-icon:hover .core {
  fill: var(--contour-color, #000000);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s linear 0.05s;
}



.like-icon:active .core {
  fill: var(--animation-fill-color, red);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.05s;
}



.like-icon.is-liked .core {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, red);
  transition: fill 0.3s linear 0.06s;
}


.like-icon {
  transform-origin: center;
  cursor: pointer;
}

.is-liked .heart {
  transform-origin: center;
  animation: fadeIn 0.3s 0.1s ease-in;
}

.is-liked .sparks {
  animation: slideInFromLeft 0.3s 0.3s ease-in;
}


@media (width <= 375px) {
  .button-dialog {
    block-size: 84px;
    inline-size: 306px;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    padding-block: 17px;
    padding-inline: 20px;
  }
  .button-dialog .dialog-icon {
    width: 28;
    height: 28;
  }

  .dialog {
    inline-size: 341px;
    padding: 30px 40px;
    grid-template-columns: 39px 200px;
  }

  .dialog__button {
    min-inline-size: 261px;
  }

  .close-button {
    min-inline-size: 261px;
  }
}